div.page-header h1 a {
    text-decoration: none;
    color: #333333;
}

p {
	font-family: 'Open Sans', sans-serif;
}

.cover-column p.title {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 20px;
	color: #444;
	margin-top:10px;
	margin-bottom: 0px;
}

p.title {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14px;
	color: #444;
	margin-top:10px;
	margin-bottom: 0px;
}

p.creator {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 12px;
	color: #444;
	margin-top:5px;
	margin-bottom: 0px;
}

p.picked_by {
	font-size: 13px;
	color: #444;
	margin-bottom: 50px;
}

p.picked_by span.picked_by_desc {
	color: #aaa;
}

img.pick-cover {
	border: solid 1px #BBB;
	opacity: 0.8;
}

img.pick-cover:hover{
	border: solid 1px #777;
	opacity: 1.0;
}

img#drop-box {
    z-index:3;
}

#results {
    margin: 5px 0 10px 0;
    padding:0;
}

.result-item {
    margin:10px 0 10px 0;
    list-style-type:none;
    z-index:1;
}